.menu-home {
    width: 100%;

    display: flex;
    justify-content: center;
}

.menu-cards {
    width: 250px;
    height: 200px;

    margin: 20px;

    transition: all 200ms ease;
}

.menu-cards:hover {
    background-color: #6dcb9f;
}

@media (max-width: 1000px) {
    .hs {
        margin: 20px;
    }
}

@media (max-width: 500px) {
    .hs {
        margin: 20px;
    }
}