.hw-menu {
    width: 100%;

    display: flex;
    justify-content: center;
}

.hw-card {
    width: 80%;
    height: 200px;

    margin: 20px;
    padding: 15px;
}

.add-hw {
    width: 200px;

    margin-bottom: 30px;
}

.desc {
    height: 150px;
    text-align: start;
}

.choose {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 20px;
}
