.menu-home {
    width: 100%;

    display: flex;
    justify-content: center;
}

.menu-cards {
    width: 250px;
    height: 200px;

    margin: 20px;

    transition: all 200ms ease;
}

.menu-cards:hover {
    background-color: #6dcb9f;
}