.menu-exam-t {
    width: 100%;

    display: flex;
    justify-content: center;
}

.dd {
    color: white;
    background-color: black;
}

.tombol {
    width: 170px;
    height: 40px;
    border: 0px;

    color: white;
    background-color: black;
    transition: all 200ms ease; 
}

.tombol:hover {
    color: black;
    background-color: white;
}

#exam-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#exam-table td, #exam-table th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

#exam-table tr:nth-child(even){background-color: #dedede;}

#exam-table tr:hover {background-color: #a6c9ff;}

#exam-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0D6EFD;
  color: white;
}

#exam-table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.pilih-t {
    border: 0px;
    border-radius: 0px;
    width: 200px;

    cursor: pointer;

    color: white;
    background-color: transparent;
}

